<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734785625016-mksqcrirfjqi9j8dlhhebqpdkbba6f65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734785625016-mksqcrirfjqi9j8dlhhebqpdkbba6f65</string>
	<key>API_KEY</key>
	<string>AIzaSyAK10-zpqF2m7nI5GO1Fk4q1VcuHHKUXao</string>
	<key>GCM_SENDER_ID</key>
	<string>734785625016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.condoPlus</string>
	<key>PROJECT_ID</key>
	<string>condo-a2ab9</string>
	<key>STORAGE_BUCKET</key>
	<string>condo-a2ab9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734785625016:ios:b7f4bd4d100821cec58d4d</string>
</dict>
</plist>